{% extends "oj_base.html" %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block body %}


    <!-- Center Column -->
        <div class="col-sm-9">
            <!-- Article -->
            <div class="row">
                <article class="col-xs-12">
                    <h2>{{ article.title }}</h2>
                    <p>author: {{ article.author_id }}</p>
                    <p class="pull-right"><span class="label label-default">{{ article.pub_date | date:"j M" }}</span> <span class="label label-default">{{ article.author }}</span></p>
                    <p><hr></p>
                    <p>{{ content | safe }}</p>
                    <p></p>
                    <ul class="list-inline">
                        <li><a href=" "><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} Comments</a></li>
                        <li><a href="/forum/{{ article.id }}/poll/"><span class="glyphicon glyphicon-thumbs-up"></span>{{ article.poll_num }} Upvotes</a></li>
                    </ul>
                </article>
            </div>
            <hr>

            <!-- Comments -->
            <h3>Comments:</h3>
            <hr>
            {% for comment in comments %}
            <div class="row">

                <article class="col-xs-12">
                    <p class="pull-right"> <span class="label label-default">tag</span> <span class="label label-default">{{ comment.user }}</span></p>
                    <p>{{ comment.content }}</p>
                    <ul class="list-inline">
                        <li><a href=" ">{{ comment.pub_date | date:"j M" }}</a></li>
                        <li><a href=" "><span class="glyphicon glyphicon-comment"></span> {{ comment.comment_num }} Comments</a></li>
                        <li><a href=" "><span class="glyphicon glyphicon-thumbs-up"></span>{{ comment.poll_num }} Upvotes</a></li>
                    </ul>
                </article>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <article class="col-xs-12">
                    <h4>添加一条新回复:</h4>
                    <form action="." method="post">
                        {% csrf_token %}
                        <!-- 找不到form，待解决 -->
                        {{ form.as_p }}
                        <button type="submit">发表回复</button>
                    </form>
                </article>
            </div>
            <hr>
        </div><!--/Center Column-->
{% endblock %}